*{
    font-weight: normal;
}
#blue {
    color: blue;
}
#red {
    color: red;
}#orange {
    color: orange;
}#yellow {
    color: yellow;
}#green {
    color: green;
}
 
img{
    height: 200px;
    width: 200px;
}